body {
  background-color: #2e4045;
}

form {;
  margin: 0 auto;
}

.formDiv {
  padding: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.formDiv h1{
  text-align: center;
  font-family: verdana;
  font-weight: bold;
  font-size: 300%;
  margin-bottom: 3rem;
}

.basicDisplay {
  background-color: #bfb5b2;
  border: solid 4px #83adb5;
}

.radio-label {
  margin-bottom: 0;
}

.radio {
  margin-top:0;
}

.btn {
  margin: 0 auto;
  display: block;
}

.output {
  display: none;
  min-height: 50rem;
}

.jumbotron {
  margin: 5rem auto 2rem;
  width: 90%;
}

.success, .unclear {
  display: none;
}

.success a: {
  color: #2e4045;
}

.success a:visited{
  color: #849399;
}

.success a:hover, a:focus {
  color: #E0E2E3;
}


/***jumbotron display classes**/

.design {
  background-color: #428bca;
  border: solid 4px #d9534f;
  color: #f9f9f9;
}

.android {
  background-color: #009688;
  border: solid 4px #54b2a9;
  color: #83d0c9;
}

.net {
  background-color: #0099ff;
  border: solid 4px #99cc33;
  color: #ffcc00;
}

.rails {
  background-color: #8b0015;
  border: solid 4px #36000e;
  color: #fff3f4;
}

/******MEDIA QUERIES*********/

@media screen and (min-width: 768px){
  form {
    width: 80%;
  }
}

@media screen and (min-width: 992px){
  form {
    width: 55%;
  }

}
